/* 
  TABLE OF CONTENTS

  # Fonts
  # Formatting
  # Header
  # About Me
  # Projects
  # Footer
  # Action States
*/

/* ################### FONTS #################### */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

p,
div,
button {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(32, 32, 32, 0.865);
}

/* ################ FORMATTING ################## */
* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  max-width: 1600px;
  margin: 0 auto;
}

hr {
  width: 70%;
  margin: 0 auto;
  border-color: rgba(241, 241, 241, 0.125);
  box-shadow: 0 0 3px 0px rgba(55, 55, 55, 0.353);
  margin-bottom: 10px;
}

body {
  background-color: #fffbf6;
}

button {
  background: none;
  border: none;

  transition: filter 1s;
}

/* ################## Header ################### */
header {
  width: 100vw;
}

.hero__container {
  background-image: url("./images/personal/welcome_table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(300px, 50vw, 700px);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.609);
}

.title__container {
  height: clamp(100px, 13vw, 180px);
  position: relative;
  top: -5vw;
}

@media only screen and (max-width: 650px) {
  .title__container {
    top: -50px;
  }
}

.title__container h1,
h2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.35vw;
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.title__container h1 {
  margin-left: 20px;
  font-size: clamp(34px, 5vw, 80px);
  color: white;
  text-shadow: 1px 1px 3px black;
}

.title__container h2 {
  color: rgb(117, 170, 244);
  padding-left: 80px;
  text-shadow: 1px 1px 1px black;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.socials__container {
  position: relative;
  left: 400px;
  top: -50px;
  width: 120px;
  display: flex;
  column-gap: 10px;
}

.socials__container a {
  display: inline-block;
  transition: filter 1s;
}

@media only screen and (max-width: 650px) {
  .socials__container {
    left: 20px;
    top: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .socials__container {
    left: 450px;
  }
}

@media only screen and (min-width: 2400px) {
  .socials__container {
    left: 550px;
  }
}

@media (hover: hover) {
  .socials__container a:hover {
    filter: hue-rotate(100deg);
  }
}
/* ################# ABOUT ME ################## */
.about-me__container {
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  column-gap: clamp(5px, 5vw, 200px);
  flex-wrap: wrap;
}

.about-me__img {
  object-fit: cover;
  object-position: 70% 0;
  width: 30vw;
  max-width: 480px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.582);
}

.about-me__container > div {
  width: 40vw;
  max-width: 620px;
}

.about-me__container > div > p {
  margin: 20px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .about-me__container {
    flex-direction: column;
  }

  .about-me__img {
    width: 80vw;
    height: 400px;
    object-position: 0 35%;
    margin: 0 auto;
  }

  .about-me__container > div {
    width: 80vw;
  }

  .about-me__container > div > p {
    font-size: 1rem;
  }
}

.skills__container {
  width: 100%;
  padding: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-content: space-around;
}

.skills__item__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.skills__item__container > p {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

/* ################# PROJECTS ################### */

/* ################## FOOTER ################### */

/* ############## ACTION STATES ################ */
/* .removed {
  display: none;
} */
