/* 
  TABLE OF CONTENTS

  # Fonts
  # Formatting
  # Header
  # About Me
  # Projects
  # Footer
  # Action States
*/

/* ################### FONTS #################### */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

h1,
h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 25px;
}

p,
div,
button {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(44, 44, 44, 0.865);
}

/* ################ FORMATTING ################## */
* {
  box-sizing: border-box;
}

body {
  background-color: #fffbf6;
  transition: background-color 1s, color 1s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  max-width: 1600px;
  margin: 0 auto;
}

hr {
  width: 70%;
  margin: 0 auto;
  border-color: rgba(241, 241, 241, 0.125);
  box-shadow: 0 0 3px 0px rgba(55, 55, 55, 0.353);
  margin-bottom: 10px;
}

section {
  width: 75vw;
  max-width: 1250px;
}

section h1 {
  align-self: flex-start;
  color: #3d99e0bc;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.788);

  transition: color 0.7s;
}

button {
  background: none;
  border: none;

  transition: filter 1s;
}

/* ################## Header ################### */
header {
  width: 100vw;
}

.hero__container {
  background-image: url("./images/personal/welcome_table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(300px, 50vw, 700px);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.609);
}

.title__container {
  height: clamp(100px, 13vw, 180px);
  position: relative;
  top: -5vw;
}

@media only screen and (max-width: 650px) {
  .title__container {
    top: -50px;
  }
}

.title__container h1,
h2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.35vw;
  animation: typing 2.5s steps(40, end);
}

.title__container h1 {
  margin-left: 20px;
  font-size: clamp(34px, 5vw, 80px);
  color: white;
  text-shadow: 1px 1px 3px black;
}

.title__container h2 {
  color: rgb(117, 170, 244);
  padding-left: 80px;
  text-shadow: 1px 1px 1px black;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.socials__container {
  position: relative;
  left: 400px;
  top: -50px;
  width: 120px;
  display: flex;
  column-gap: 10px;
}

.socials__container a {
  display: inline-block;
  transition: filter 0.5s;
}

@media only screen and (max-width: 650px) {
  .socials__container {
    left: 20px;
    top: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .socials__container {
    left: 450px;
  }
}

@media only screen and (min-width: 2400px) {
  .social__link {
    left: 550px;
  }
}

@media (hover: hover) {
  .socials__container a:hover {
    filter: hue-rotate(100deg);
  }
}
/* ################# ABOUT ME ################## */
.about-me__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  column-gap: clamp(5px, 5vw, 200px);
  flex-wrap: wrap;
}

.about-me__img {
  object-fit: cover;
  object-position: 70% 0;
  width: 30vw;
  max-width: 480px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.582);
}

.about-me__container > div {
  width: 40vw;
  max-width: 620px;
}

.about-me__container > div > p {
  margin: 20px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .about-me__container {
    flex-direction: column;
  }

  .about-me__img {
    width: 80vw;
    height: 400px;
    object-position: 0 35%;
    margin: 0 auto;
  }

  .about-me__container > div {
    width: 80vw;
  }

  .about-me__container > div > p {
    font-size: 1rem;
  }
}

.skills__container {
  width: 100%;
  padding: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-content: space-around;
}

.skills__item__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.skills__item__container > p {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

/* ################# PROJECTS ################### */

.project {
  position: relative;
  margin-bottom: 50px;
}

.project--down {
  margin-top: 25px;
}

.project--up {
  margin-top: -25px;
}

.project__img > img {
  height: (450px, 35vw, 550px);
  /* height: 35vw;
  min-height: 450px; */
  width: clamp(447px, 38vw, 550px);
  /* width: 40vw;
  min-width: 447px; */
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.473);
}

.project__desc {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.654);
  backdrop-filter: blur(4px);
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 20vw;
  left: 25vw;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.473);
}
@media only screen and (min-width: 1500px) {
  .project__desc {
    top: 250px;
    left: 600px;
  }
}

.project__desc > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}

.project__btns {
  transition: transform 1.5s;
}

@media (hover: hover) {
  .project__btns:hover {
    transform: rotatey(360deg);
  }
}

@media only screen and (max-width: 650px) {
  .project__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project__desc {
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: -20px;
  }

  .project__desc > h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .project__desc > p {
    font-size: 14px;
  }
}

/* ################## FOOTER ################### */
footer {
  box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.287);
  background-color: #4d7a9f;
  padding: 25px 5vw;
  position: relative;
  display: flex;
  align-items: center;
}

.footer__wrapper {
  max-width: 1250px;
  display: flex;
  margin: 0 auto;
  column-gap: 10vw;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.contact p {
  color: white;
  margin-bottom: 15px;
}

.email__container {
  display: flex;
  column-gap: 10px;
}

.socials--footer {
  position: static;
  margin-bottom: 15px;
}

.socials--footer > a {
  filter: hue-rotate(-40deg);
}

.footer__img {
  opacity: 0.7;
}

.attribution {
  position: absolute;
  bottom: 10px;
  right: 50px;
  color: rgba(77, 116, 175, 0.281);
  text-decoration: none;
}

.attribution:visited {
  color: rgba(84, 84, 252, 0.109);
}

/* ############## ACTION STATES ################ */
