:root * {
  font-family: "Darker Grotesque", Avenir, sans-serif;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Universal Color Scheme */
  --text-shadow-dark: rgb(81, 80, 80);
  --text-shadow-light: rgb(207, 206, 206);
  --transparent: rgba(255, 255, 255, 0);
  --project-link: #2f6ed3;
  --purple: #a63fb6e3;
  --faded-blue: rgba(14, 137, 158, 0.3);
  --pink: #ffcad4;
  --mud: #6f5d62;

  /* Dark Color Scheme */
  --background-dark: rgb(33, 31, 45);
  --color-dark: rgb(159, 171, 191);
  --link-hover-dark: rgba(114, 166, 194, 0.864);

  /* Light Color Scheme */
  --background-light: rgb(159, 171, 191);
  --color-light: rgb(33, 31, 45);
  --link-hover-light: rgba(71, 87, 95, 0.864);

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
}

p {
  font-size: 1.4rem;
  line-height: 1.05;
}
